@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');

* {
  font-family: 'Rubik', sans-serif;
}

.pokemon-text {
  font-family: 'Caprasimo', cursive;
}

/* CustomSelect.css */
.custom-select {
  position: relative;
  display: inline-block;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  background-color: #fff;
}

.selected-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
}

.arrow {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 5px 0;
  border-color: #333 transparent transparent transparent;
  transition: transform 0.2s ease;
}

.arrow.open {
  transform: rotate(180deg);
}

.options {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  width: 100%;
  max-height: 160px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.option {
  padding: 8px;
  border-bottom: 1px solid #ccc;
}

.option:last-child {
  border-bottom: none;
}

.option:hover {
  background-color: #f0f0f0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

p {
  @apply md:text-base text-sm;
}

h2 {
  @apply font-bold text-2xl;
}

h3 {
  @apply font-bold text-xl;
}

h4 {
  @apply font-semibold text-lg;
}

li {
  @apply md:text-base text-sm pt-4 flex justify-between;
}

label {
  @apply uppercase font-semibold;
}

option {
  @apply my-4 py-2 h-10 bg-red-400;
}

[data-theme='light'] .card-container {
  @apply bg-white hover:bg-slate-50;
}
[data-theme='light'] .pokemon-details-container {
  @apply bg-white;
}

[data-theme='light'] .info-container {
  @apply bg-slate-300;
}

[data-theme='dark'] .card-container {
  @apply bg-slate-800 hover:bg-slate-700;
}
[data-theme='dark'] .pokemon-details-container {
  @apply bg-slate-800;
}

[data-theme='dark'] .info-container {
  @apply bg-slate-600;
}
